body {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding: 3vw;
    width: 45%;
    max-height: 85%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    border-radius: 1vw;
    border: 0.2vw solid white;
}

h1 {
    font-size: 2vw;
    letter-spacing: 0.3vw;
}

.add-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action-container {
    width: 100%;
}

#add-post-input:first-child {
    width: 80%;
}

#search-input {
    width: 100%;
}

#add-post-button {
    width: 20%;
    padding: 0.2vw 1.5vw;
    background-color: white;
    color: black;
    border-radius: 0.5vw;
}

#add-post-button:hover {
    color: white;
    background-color: black;
}


#todo-container {
    width: 100%;
    max-height: 60vh;

    display: flex;
    flex-direction: column;
    gap: 2vh;

    overflow-y: auto;
}

li {
    display: flex;
    gap: 1vw;
}

li p:first-child {
    color: aquamarine;
}

.done-button {
    padding: 0.1vw 1vw;
    border-radius: 0.2vw;

    background-color: aquamarine;
    color: #111111;
}

.delete-button {
    padding: 0.1vw 1vw;
    border-radius: 0.2vw;

    background-color: brown;
    color: white;
}

.delete-button:hover, .done-button:hover {
    background-color: white;
    color: #111111;
}

@media screen and (max-width: 780px) {    
    main {
        padding: 3vw;
        width: 95%;
        max-height: 85%;
    
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    
        border-radius: 1.5vw;
        border: 0.4vw solid white;
    }
    
    h1 {
        font-size: 8vw;
        letter-spacing: 0.6vw;
    }

    input {
        font-size: 5vw;
    }
    
    .add-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .action-container {
        width: 100%;
    }
    
    #add-post-input:first-child {
        width: 70%;
    }
    
    #search-input {
        width: 100%;
    }
    
    #add-post-button {
        width: 30%;
        padding: 1vw 1.5vw;
        background-color: white;
        color: black;
        border-radius: 1.5vw;
        font-size: 4vw;
    }
    
    #add-post-button:hover {
        color: white;
        background-color: black;
    }
    
    
    #todo-container {
        width: 100%;
        max-height: 70vh;
    
        display: flex;
        flex-direction: column;
        gap: 2vh;
    
        overflow-y: auto;
    }
    
    li {
        display: flex;
        gap: 3vw;
    }

    li p {
        font-size: 4vw;
    }
    
    li p:first-child {
        color: aquamarine;
    }
    
    .done-button {
        padding: 0.5vw 2vw;
        border-radius: 1vw;
        font-size: 4vw;
    
        background-color: aquamarine;
        color: #111111;
    }
    
    .delete-button {
        padding: 0.5vw 2vw;
        border-radius: 1vw;
        font-size: 4vw;
    
        background-color: brown;
        color: white;
    }
    
    .delete-button:hover, .done-button:hover {
        background-color: white;
        color: #111111;
    }
}